.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
  }

.cnt {
      display: flex;
      flex-direction: column;
      align-items: center;
 }

    .create-form {
      padding: 20px;
      border-radius: 10px;
      background-color: rgba(110, 96, 96, 0.8);
      box-shadow: 0 8px 32px 0 rgb(243, 247, 60);
      margin-top: 3%;
    }
  
    .ctn-checkbox {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4%;
    }
  
    .ctn-checkbox > * {
      flex-basis: 25%; /* Ancho de cada columna (25% para 4 columnas) */
      box-sizing: border-box;
    }
  
    .ctn-input {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4%;
      margin-bottom: 4%;
    }
  
    .ctn-input > * {
      flex-basis: 20%;
      box-sizing: border-box;
    }
  
    .top-label {
      pointer-events: none;
      left: 10px;
      transition: 0.2s ease-out;
      color: white;
      font-size: 18px;
    }
    
    .input-container {
      position: relative;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .label-check {
      font-size: 19px;
      color: #fff; 
    }
  
    .ctn-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
    }
  
  .btn-landing{
      position: relative;
      background: #fff;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 400;
      padding: 10px 30px;
      transition: 0.5s;
    }
    
    .btn-landing:hover{
      background: #f17752;
      color: #f17752;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      box-shadow: 0 0 35px #f17752;
    }
    
    .btn-landing:before{
      content: '';
      position: absolute;
      inset: 2px;
      background: #27282c;
    }