body {
    background-image: url('../../assets/mudial.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
.card {
    width: calc(30% - 16px);
    margin: 6px;
}

.container-select {
    display: flex;
    justify-content: space-between;
    height: 10%;
    margin-top: 3%;
    width: 80%;
    margin-bottom: 1%;
}

.select-origin {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #917416;
    background-image: none;
    flex: 1;
    padding: 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.select-origin::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #917416;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 2%;
    margin-right: 2%;
}

.select::after{
    content: '\25BC';
    position: absolute;
    top: 2;
    right: 0;
    padding: 0.1em;
    background-color: #fff;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.select:hover::after{
    color: #6d5710;
}

.container-btn {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 1%;
}

.btn {
  padding: 10px 20px;
  background-color: #6d5710;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #917416;
  border-radius: 10%;
  box-shadow: 0 8px 16px 0 #6d5710;
}